<!DOCTYPE html>
<html>

<head>
  <title>Parcel Sandbox</title>
  <meta charset="UTF-8" />
</head>

<body>
  <p>//taki zapis musi byc jak poniżej : body w 3 nawiasach</p>

</body>

</html>